/******************************************/
/*****         STRUCTURE              *****/
/******************************************/

body.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* .container {
    border: solid 1px red;
} */

main {
    margin: auto;
}

#scrolly {
    position: relative;
}


.row {
    position: relative;
}

#gender-map {
    position: sticky;
    width: 40rem;
    /* margin-left: 30rem; */
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
}

.scrolly_text {
    max-width: 30rem;
    padding: 0 1rem;
    margin-left: 40rem;
}


.step {
    opacity: 0;
    padding: 1rem;
}

.step.is-active {
    opacity: 1;
}


.gender-label {
    font-family: sans-serif;
    font-weight: bold;
    fill: black;
    font-size: 18pt;
}

.name-label,
.value-label {
    font-family: sans-serif;
    font-size: 8pt;
    fill: black;
}