/******************************************/
/*****         STRUCTURE              *****/
/******************************************/

body.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.container {
    border: solid 0px red;
    background-color: #ffffff;
    padding: 10% 0;
    margin: 0;
}

header {
    margin: 20% 0 40% 0;
    padding: 0;
    border: solid 0px green;
}

main {
    border: solid 0px blue;
    margin: 0;
}

/******************************************/
/*****        TITLE TRANSITION        *****/
/******************************************/

header {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}

/******************************************/
/*****           TYPOGRAPHY           *****/
/******************************************/

/*** GLOBAL ***/

h1#title {
    font-family: 'Andada Pro', serif;
    font-size: 42pt;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-family: 'Andada Pro', serif;
    font-size: 32pt;
    font-weight: 600;
    text-align: center;
    margin: 0 0 30% 0;
}

p {
   font-size: 18pt;
   font-weight: 200; 
}

a:link, a:visited {
    color: #FB489A;
    text-decoration: underline;
}

a:hover {
    color: #000;
    background-color: #8FE6FD;
}

span.yellow {
    background-color: #FFD700;
    font-weight:300;
}

span.gray {
    background-color: #cccccc;
    font-weight: 300;
}

#byline {
    font-family: 'Andada Pro', serif;
    font-size: 22pt;
    text-align: center;
}

.quote {
    font-size: 32pt;
    font-style: italic;
    text-align: center;
  }

.OKeeffe {
    font-size: 16pt;
    margin-left: 30%;
    text-align: center;
}


/*** DATA VIZ ***/ 

.gender-label {
    font-family: 'Ysabeau', sans-serif;
    fill: black;
    font-size: 32pt;
    font-weight: 200;
}

.name-label,
.value-label {
    font-family: 'Ysabeau', sans-serif;
    font-size: 9pt;
    fill: black;
    font-weight: 100;
}

.genderTreemapTitle,
.bubbleChartTitle,
.videoTitle {
    font-family: 'Ysabeau', sans-serif;
    font-size: 18pt;
    color: #444;
}

.genderTreemapNote,
figcaption {
    font-family: 'Ysabeau', sans-serif;
    font-size: 12pt;
    line-height: 1;
    color: #444;
}

/******************************************/
/*****         BLOCK ELEMENT          *****/
/******************************************/

h1#title {
    margin: 0 0 2% 0;
}

p {
    margin: 0 20% 0 20%;
    border: solid 0px green;
}

.non-scrolly p {
    padding-bottom: 5%;
    border: solid 0px red;
}

div.step > p {
    margin-bottom: 5%;
}

div.step > p.quote,
div.step > p.OKeeffe {
    margin-bottom: 0;
}

.sectionHeading {
    margin: 50% 0;
}

.genderTreemapTitle,
.bubbleChartTitle,
.videoTitle {
    margin-bottom: 1rem;
}

.bubbleChartTitle {
    text-align: center;
}

.genderTreemapNote {
    margin-top: 0.5rem;
}

#treeMap-text p,
#guardianText p {
    margin: 0;
    padding: 0;
    border: solid 0px pink; 
}

#treeMap,
#bubbleChart,
#guardian {
    position: relative;
}

#treeMap { margin-bottom: 10rem;}

#treeMap-text {
    max-width: 60rem;
    padding-left: 2%;
    margin-left: 40rem;
}

section#evocative {
    margin-bottom: 20%;
}



#guardianText {
    max-width: 50rem;
    padding-left: 2%;
    margin-left: 50rem;
    border: solid 0px blue;
}

video {
    margin: 0 10%;
}

.videoTitle {
    margin-left: 10%;
}

#diagram {
    margin-bottom: 8%;
    border: solid 0px red;
}

/******************************************/
/*****           SCROLLY VIZ          *****/
/******************************************/

#treeMapViz {
    position: sticky;
    width: 40rem;
    padding: 0;
    /* margin-bottom: 30rem; */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
    border: solid 0px red;
}

#bubbleViz {
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
    border: solid 0px red;
}

#guardianImg {
    position: sticky;
    width: 50rem;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
    border: solid 0px red;
}

#bubbleViz .chart-container {
    border: solid 0px black;
}

#footer {
    padding: 0 10%;
}

#footer > p {
    margin-top: 5%;
}
/******************************************/
/*****          STEP OPACITY          *****/
/******************************************/

.step {
    opacity: 0;
}

.step.is-active {
    opacity: 1;
}




